* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
  background: rgb(255, 254, 249);
}
